<!DOCTYPE html>
{% extends 'Sec_App/base.html' %}
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
  </head>
  <body>
  {% block body_block %}

  <div class="jumbotron">
    <h1>Please Login To Have Highest Facilities : </h1>
    <form class="" action="{% url 'AppTwo:sign_in' %}" method="POST">

      {% csrf_token %}

      <label for="username" >Username: </label>
      <input type="text" name="username" placeholder="Adam">

       <label for="pass">Password: </label>
       <input type="password" name="pass" >
      <input type="submit" class='btn btn-outline-success my-2 my-sm-0'  value="Login">
    </form>

  </div>



  {% endblock %}

  </body>
</html>
